

.marker{
  background-color: #f9e720;
}

.sidebar-title{
  font-weight: bold;
}

.wiki-color {
  color: #307ECC;
}

.wiki-background-color {
  background-color: #307ECC;
  color: #FFFFFF;
}
